<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="it.example.helloword">
         <property
               name="applicationCSS"
               value="platform:/plugin/it.package.helloword/css/default.css">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Hello World Action Set"
            visible="true"
            id="it.example.helloword.actionset1">
        
            <menu
               label="Hello World Menu"
               id="helloWorldMenu">
            	<separator
                 	name="group1">
            	</separator>
         	</menu>
            <action
                  class="it.example.helloword.HelloWorldAction"
                  id="helloWorldAction"
                  label="Hello World Action"
                  menubarPath="helloWorldMenu/group1"
                  state="false"
                  style="push">
            </action>
      </actionSet>
   </extension>

   <extension point="org.eclipse.ui.popupMenus"> 
    <viewerContribution 
      id="org.eclipse.ui.articles.action.contribution.popup.navigator"
   targetID="org.eclipse.jdt.ui.PackageExplorer"> 

   <menu
         id="org.eclipse.ui.articles.action.contribution.navigator.subMenu"
         label="Janus"
         path="additions">
      <separator name="group1"/>
      </menu>
      <action
         id="org.eclipse.ui.articles.action.contribution.navigator.action2" 
         label="Start Refactoring"
         icon="icons/save_edit.png"
      	 menubarPath="org.eclipse.ui.articles.action.contribution.navigator.subMenu/group1" 
         class="it.example.helloword.HelloWorldAction"
      	 enablesFor="1"
      >      
      </action> 

   	</viewerContribution> 
   </extension>
   
   <extension point="org.eclipse.ui.popupMenus"> 
    <viewerContribution 
      id="org.eclipse.ui.articles.action.contribution.popup.navigator2"
   targetID="org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions"> 

   <menu
         id="org.eclipse.ui.articles.action.contribution.navigator.subMenu"
         label="Janus"
         path="additions">
      <separator name="group1"/>
      </menu>
      <action
         id="org.eclipse.ui.articles.action.contribution.navigator.action1" 
         label="Start Refactoring"
         icon="icons/save_edit.png"
      	 menubarPath="org.eclipse.ui.articles.action.contribution.navigator.subMenu/group1" 
         class="it.example.helloword.HelloWorldAction"
      	 enablesFor="1"
      	 state="false"
         style="push"
      >      
      </action> 

   	</viewerContribution> 
   </extension>
</plugin>
